textarea.form-control {
  height: 45px !important;
}

input.form-control {
  height: 45px !important;
}


#fh5co-main .fh5co-narrow-content {
  height: 100% !important;
  width: 80%;
  margin: 0 auto;
  padding: 4em 0;
}
