{% extends 'site/base.html' %}
{% from "site/_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	AgTech
{% endblock %}

{% block web_adopt_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id="fh5co-main">

	<!-- begin new -->
  <div style="height: 30vh; text-align: center;">
    <img src="{{ url_for('site.static', filename='images/adoptafarmer.png') }}" alt="solarvibes logo" style="display:block; margin:auto; margin-top: 7vh;">
  </div>
    <br>
    <br>
    <br>
    <br>
    <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft">
      <h2 class="fh5co-heading" style="text-align: center">What's adopt a farmer?</span></h2><br>
      <h4>Adopt A Farmer campaign is an initiative from Solarvibes to provide state-of-the-art precision farming technologies to small farmers in India and Africa. This is done with an aim of educating and helping farmers overcome operational challenges in their farm and supply chain. We believe we can make farming very attractive for the next generation youngsters and add it to their profession wish-list amongst engineering, medicine and many others. <strong>Our First campaign on Katana crowdfunding campaign was very successful with contributors from over 12 countries helped us adopt over 80 farmers.</strong></h4>
    </div>

    <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft" style="height:100% !important;">
      <img src="{{ url_for('site.static', filename='images/howitworks.png') }}" alt="how it works">
    </div>

    <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft">
      <h2 class="fh5co-heading" style="text-align: center">How & where can I contribute?</span></h2><br><br>
      <h4>We offer different packages : You can form a group of 10 donors to adopt one farmer or you can adopt  farmers individually. An Individual can adopt up to 500 farmers.
The execution of our first campaign will be completed by end of 2018. We are launching our next Adopt A Farmer campaign very soon. We invite you to Join hands with us in this Revolutionary step!
If you want to adopt entire village/community of farmers, please contact us at: <a href="mailto:adoptafarmer@solar-vibes.com">adoptafarmer@solar-vibes.com</a>
      </h4>
    </div>

</div>

{% endblock %}
