{% extends 'site/base.html' %}
{% from "site/_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Agrimodule
{% endblock %}

{% block web_agrimodule_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id="fh5co-main">
<!-- begin new -->

<!-- All senteces in light font -->
<!-- Bigger Icons like Customer Benefits -->
<!-- Change scalable and plug and play icons -->


<!-- END BANNER -->
<div class="cd-slider banner-text-color" style="height: 70vh; text-align: center; color: grey; font-size: 46px !important;">
  <div style="margin-top: 10%;">
    <img src="{{ url_for('site.static', filename='images/svlogo.png') }}" alt="solarvibes logo">
    <br>
    <br>
    <h1 style="color: gray;">Start Farming Smart</h1>
  </div>
</div>

<div class="fh5co-narrow-content">
	<div class="row">
		<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
			<h2 style="width: 100vh; font-size: 40px;" style="text-align: center">Agrimodule Smart System</h2>

		</div>
	</div>
</div>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="{{ url_for('site.static', filename='images/agmo.png') }}" style="width:100%; height: 80vh;">
  <img class="mySlides" src="{{ url_for('site.static', filename='images/mobile.png') }}" style="width:100%; height: 80vh;">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>



<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft" style="text-align: center">Agrimodule is</h2>
  <br>
  <br>
	<div class="row">

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/is_solar.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Solar Powered</h3>
          <p style="font-size: 20px !important; color: black;">Non-stop power supply. </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/is_wireless.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Fully Wireless</h3>
          <p style="font-size: 20px !important; color: black;">Long range wireless connection to other sensors & pump controllers, without connectivity issues.</p>
        </div>
      </div>
    </div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/is_compatible.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3 style="font-size: 20px !important; color: black;">Plug & Play</h3>
					<p style="font-size: 20px !important; color: black;">No matter where you are, what pump you use, it takes less then 5 minutes to install.</p>
				</div>
			</div>
		</div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/sen_mapg.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Scalable</h3>
          <p style="font-size: 20px !important; color: black;">Connect as many sensors & pump controllers as you want, AgriModule will take care of the network.</p>
        </div>
      </div>
    </div>

	</div>
</div>
<!-- END is -->

<!-- DOES -->
<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft" style="text-align: center">Agrimodule Monitors</h2><br><br>
	<div class="row">

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_lightg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3 style="font-size: 20px !important; color: black;">LIGHT</h3>
					<p style="font-size: 20px !important; color: black;">Measures Solar Irradiation.<br><br> </p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_weatherg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3 style="font-size: 20px !important; color: black;">WEATHER</h3>
					<p style="font-size: 20px !important; color: black;">Measures Temperature and Relative Humidity. </p>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_soilg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3 style="font-size: 20px !important; color: black;">SOIL</h3>
					<p style="font-size: 20px !important; color: black;">Measures Temperature, Moisture, pH and Nutrients. </p>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- END DOES -->

<!-- CUSTOMER BENEFITS -->
<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft" style="text-align: center">Customer Benefits</span></h2><br><br>
	<div class="row">


    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/cb_cost.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Reduce farming costs by efficient optimization of farm</h3>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/cb_failure.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Instant detection of pests and defficiencies</h3>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/cb_profit.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Increases profits massively</h3>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/cb_quality.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3 style="font-size: 20px !important; color: black;">Increase crop productivity & quality</h3>
        </div>
      </div>
    </div>

	</div>
</div>



<!-- SPAN -->
	<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">

		<div class="row">
			<div class="col-md-4">
				<h1>Tell us your requirements</h1>
			</div>
		</div>

		<form method="POST" action="{{ url_for('site.agrimodule') }}">
			{{ form.csrf_token }}
			<div class="row">
				<div class="col-md-12">
					<div class="row">

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.first_name, class="form-control") }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.last_name, class="form-control") }}
              </div>
            </div>


						<div class="col-md-6">
							<div class="form-group">
								{{ render_field_with_errors(form.email, class="form-control") }}
							</div>
						</div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.country, class="form-control") }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.landsize, class="form-control") }}
              </div>
            </div>

						<div class="col-md-12">
							<div class="form-group">
								{{ render_field_with_errors(form.msg, class="form-control") }}
							</div>

							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-md" value="Submit">
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
<!-- END SPAN -->

</div>

{% endblock %}
