{% extends 'site/base.html' %}
{% from "site/_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Agrimodule
{% endblock %}

{% block web_agrimodule_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id="fh5co-main">
<!-- begin new -->

<!-- All senteces in light font -->
<!-- Bigger Icons like Customer Benefits -->
<!-- Change scalable and plug and play icons -->

<!-- END BANNER -->
<div class="cd-slider banner-text-color" style="height: 70vh; text-align: center; color: grey; font-size: 36px;">
  <div style="margin-top: 10%;">
    <img src="{{ url_for('site.static', filename='images/svlogo.png') }}" alt="solarvibes logo">
    <p>Start Farming Smart<br>Say Goodbye to Crop Failures</p>
  </div>
</div>

<div class="fh5co-narrow-content">
	<div class="row">
		<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
			<h1 style="width: 100vh; font-size: 45px;">Our Solution - Agrimodule</h1>
		</div>
	</div>
</div>

<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Agrimodule is</h2>
	<div class="row">

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/is_solar.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3>Solar Powered</h3>
          <p>Non-stop power supply. </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/is_wireless.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3>Fully Wireless</h3>
          <p>Long range wireless connection to other sensors & pump controllers, without connectivity issues.</p>
        </div>
      </div>
    </div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/is_compatible.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>Plug & Play</h3>
					<p>No matter where you are, what pump you use, it takes less then 5 minutes to install.</p>
				</div>
			</div>
		</div>

    <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-icon">
          <img src="{{ url_for('site.static', filename='images/sen_mapg.png') }}" alt="" class="img-responsive">
        </div>
        <div class="fh5co-text">
          <h3>Scalable</h3>
          <p>Connect as many sensors & pump controllers as you want, AgriModule will take care of the network.</p>
        </div>
      </div>
    </div>

	</div>
</div>
<!-- END is -->

<!-- DOES -->
<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Agrimodule Monitors</h2>
	<div class="row">

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_lightg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>LIGHT</h3>
					<p>Measures Solar Irradiation.<br><br> </p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_weatherg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>WEATHER</h3>
					<p>Measures Temperature and Relative Humidity. </p>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/sen_soilg.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>SOIL</h3>
					<p>Measures Temperature, Moisture, pH and Nutrients. </p>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- END DOES -->

<!-- CUSTOMER BENEFITS -->
<div class="fh5co-narrow-content fh5co-border-bottom">
	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Customer <span>Benefits</span></h2>
	<div class="row">

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/cb_cost.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>Reduce farming costs by efficient optimization of farm</h3>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/cb_failure.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>Powerful predictive modelling of diseases & defficiency</h3>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/cb_profit.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>Increases profits<br>massively</h3>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<img src="{{ url_for('site.static', filename='images/cb_quality.png') }}" alt="" class="img-responsive">
				</div>
				<div class="fh5co-text">
					<h3>Increase crop productivity<br>& quality</h3>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- SPAN -->
	<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">

		<div class="row">
			<div class="col-md-4">
				<h1>Tell us your requirements</h1>
			</div>
		</div>

		<form method="POST" action="{{ url_for('site.agrimodule') }}">
			{{ form.csrf_token }}
			<div class="row">
				<div class="col-md-12">
					<div class="row">

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.first_name, class="form-control") }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.last_name, class="form-control") }}
              </div>
            </div>


						<div class="col-md-6">
							<div class="form-group">
								{{ render_field_with_errors(form.email, class="form-control") }}
							</div>
						</div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.country, class="form-control") }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                {{ render_field_with_errors(form.landsize, class="form-control") }}
              </div>
            </div>

						<div class="col-md-12">
							<div class="form-group">
								{{ render_field_with_errors(form.msg, class="form-control") }}
							</div>

							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-md" value="Submit">
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
<!-- END SPAN -->

</div>

{% endblock %}
