{% extends 'site/base.html' %}
{% from "site/_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
  AgTech
{% endblock %}

{% block web_index_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id="fh5co-main">

     <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft" style="height:100% !important;">
      <h4 class="fh5co-heading">Impressum</span></h4>
      <p>Represented by

Swathish Bellam Ravi<br>
Rheinsberger Str. 76/77<br>
10115 Berlin<br>
<br>
Contact Information<br>
Telephone: +49 176 86787837<br>
E-Mail: info@solar-vibes.com<br>
Internet address: www.solar-vibes.com<br>
<br>
Graphics and Image Sources<br>
https://www.shutterstock.com<br>
https://www.pexels.com/<br>
<br>
Liability of Content<br>
<br>
The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy,<br> completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these<br> web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third <br>parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information<br> under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).<br>
<br>
Liability of Links<br>
<br>
Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked <br>pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will <br>remove the respective link immediately.<br>
<br>
Copyright<br>
<br>
Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of <br>utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the <br>respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from <br>these pages are copyrighted and any unauthorized use may violate copyright laws.</p>
    </div>

</div>

{% endblock %}
