{% extends 'site/base.html' %}
{% from "site/_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	AgTech
{% endblock %}

{% block web_index_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id="fh5co-main">

	<!-- begin new -->
  <div style="height: 30vh; text-align: center;">
    <img src="{{ url_for('site.static', filename='images/sb_logo.jpg') }}" alt="solarvibes logo" style="display:block; margin:auto; margin-top: 7vh;">
    <h1 style="color: grey;"><strong>Start Farming Smart</strong></h1>
  </div>
  <!-- BANNER -->

  <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft">
    <h2 class="fh5co-heading">What we do?</span></h2>
    <p>At Solarvibes we focus on providing state of the art precision farming solutions and adequate tools
necessary for farmers in emerging countries. Addressing the problems of low crop productivity, high
crop failure rate, drastically increasing cost of crop failures, we have developed the Agrimodule Smart
System. AgriModule is a solar powered smart sensor governed by robust Smart Crop Intelligence (SCI)
software. This device can be installed in any farm and controlled remotely.
AgriModule&#39;s integrated helps farmers plan, manage, operate and apply lean farming and best practices
in agriculture. Agrimodule can form a network of sensors depending on the size of the field. It can be
monitored and controlled at the touch of your fingertips using our mobile application and web
application.</p>
  </div>

  <!-- END BANNER -->
  <!-- MISION  -->

        <div class="fh5co-narrow-content">
          <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft" style="text-align: center">
              <h1 class="fh5co-heading-colored">OUR VISION<br><br>To Empower Farmers & Lead the Transition Towards Tackling One of the Biggest Problem of this Century; the <br><br>"Energy-Water-Food" Nexus.</h1>
            </div>
          </div>
        </div>

  <!-- END MISION -->
	<!-- TEAM -->

	      <div class="fh5co-narrow-content  animate-box" data-animate-effect="fadeInLeft">
	        <h2 class="fh5co-heading">Who we are?</span></h2>
          <p>A bunch of innovative engineers, agronomists, designers and developers passionate about good food working hard with a vision to make technology accessible even for the remotest farmer in the world to produce organic and healthy food simultaneously maintaining the ecological balance. </p>

	        <div class="row">
	          <div class="col-md-4 fh5co-staff">
	            <img src="{{ url_for('site.static', filename='images/swathish.png') }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
	            <h3>Swathis Ravi</h3>
	            <h4>Co-Founder, CEO</h4>
	          </div>
	          <div class="col-md-4 fh5co-staff">
	            <img src="{{ url_for('site.static', filename='images/carlos.png') }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
	            <h3>Carlos Rosas</h3>
	            <h4>Co-Founder, CTO</h4>
	          </div>
            <div class="col-md-4 fh5co-staff">
              <img src="{{ url_for('site.static', filename='images/roshan.png') }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
              <h3>Roshan Gore</h3>
              <h4>Soil Expert</h4>
            </div>
            <div class="col-md-4 fh5co-staff">
              <img src="{{ url_for('site.static', filename='images/taka.png') }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
              <h3>Takahiko Okada</h3>
              <h4>Cloud & Backend Engineer</h4>
            </div>
	        </div>
	      </div>

	<!-- END TEAM -->
      <div class="fh5co-narrow-content">
        <section>
          <ul>
            <li>
              <blockquote style="color: black; font-size: 30px;">
                <h4>Supported by</h4>
                <!-- <p>Why Have We Developed The Agrimodule?</p> -->
                <div class="supporters">
                  <div class="col-md-3 logo">
                    <img src="{{ url_for('site.static', filename='images/triard_logo.png') }}" alt="triard_logo">
                  </div>
                  <div class="col-md-3 logo">
                    <img src="{{ url_for('site.static', filename='images/katana_logo.png') }}" alt="katana_logo">
                  </div>
                  <div class="col-md-3 logo">
                    <img src="{{ url_for('site.static', filename='images/ACME_logo.png') }}" alt="acme_logo">
                  </div>
                  <div class="col-md-3 logo">
                    <img src="{{ url_for('site.static', filename='images/eu_logo.png') }}" alt="eu_logo">
                  </div>
                </div>
                <div class="col-md-12">
                  <p>This project is funded by KATANA (Emerging industries as key enablers for the adoption of advanced technologies in the agrifood sector, Horizon 2020 project No. 691478), under the funding framework of the European Commission"</p>
                </div>
              </blockquote>
            </li>
          </ul>
        </section>
      </div>

</div>

{% endblock %}
